/* -------------------------------------------------------------------------------- */
/* Fonts                                                                            */
/* -------------------------------------------------------------------------------- */

:root {
  --1px:.0625rem;
  --2px:.125rem;
  --3px:.1875rem;
  --4px:.250rem;
  --5px:.3125rem;
  --6px:.375rem;
  --7px:.4375rem;
  --8px:.5rem;
  --9px:.5625rem;
  --10px:.625rem;
  --11px:.6875rem;
  --12px:.750rem;
  --13px:.8125rem;
  --14px:.875rem;
  --15px:.9375rem;
  --16px:1rem;
  --17px:1.0625rem;
  --18px:1.125rem;
  --19px:1.1875rem;
  --20px:1.250rem;
  --21px:1.3125rem;
  --22px:1.375rem;
  --23px:1.4375rem;
  --24px:1.500rem;
  --25px:1.5625rem;
  --26px:1.625rem;
  --27px:1.6875rem;
  --28px:1.750rem;
  --29px:1.8125rem;
  --30px:1.875rem;
  --31px:1.9375rem;
  --32px:2rem;
  --33px:2.0625rem;
  --34px:2.125rem;
  --35px:2.1875rem;
  --36px:2.250rem;
  --37px:2.3125rem;
  --38px:2.375rem;
  --39px:2.4375rem;
  --40px:2.500rem;
  --41px:2.5625rem;
  --42px:2.625rem;
  --43px:2.6875rem;
  --44px:2.750rem;
  --45px:2.8125rem;
  --46px:2.875rem;
  --47px:2.9375rem;
  --48px:3rem;
  --49px:3.0625rem;
  --50px:3.125rem;
  --51px:3.1875rem;
  --52px:3.250rem;
  --53px:3.3125rem;
  --54px:3.375rem;
  --55px:3.4375rem;
  --56px:3.500rem;
  --57px:3.5625rem;
  --58px:3.625rem;
  --59px:3.6875rem;
  --60px:3.750rem;
  --61px:3.8125rem;
  --62px:3.875rem;
  --63px:3.9375rem;
  --64px:4rem;
  --65px:4.0625rem;
  --66px:4.125rem;
  --67px:4.1875rem;
  --68px:4.250rem;
  --69px:4.3125rem;
  --70px:4.375rem;
  --71px:4.4375rem;
  --72px:4.500rem;
  --73px:4.5625rem;
  --74px:4.625rem;
  --75px:4.6875rem;
  --76px:4.750rem;
  --77px:4.8125rem;
  --78px:4.875rem;
  --79px:4.9375rem;
  --80px:5rem;
  --81px:5.0625rem;
  --82px:5.125rem;
  --83px:5.1875rem;
  --84px:5.250rem;
  --85px:5.3125rem;
  --86px:5.375rem;
  --87px:5.4375rem;
  --88px:5.500rem;
  --89px:5.5625rem;
  --90px:5.625rem;
  --91px:5.6875rem;
  --92px:5.750rem;
  --93px:5.8125rem;
  --94px:5.875rem;
  --95px:5.9375rem;
  --96px:6rem;
  --97px:6.0625rem;
  --98px:6.125rem;
  --99px:6.1875rem;
  --100px:6.250rem;
  --font-size: 1.500rem;
}

/* -------------------------------------------------------------------------------- */
/* Icons                                                                            */
/* -------------------------------------------------------------------------------- */

:root {
  --font-general: "Manager";
  --font-icons  : "Material Symbols Outlined";
}

/* -------------------------------------------------------------------------------- */
/* Colors                                                                           */
/* -------------------------------------------------------------------------------- */

:root {
  /* GRAY */
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  /* RED */
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;

  /* GREEN */
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;

  /* BLUE */
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;

  /* YELLOW */
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;

  /* PURPLE */
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;

  /* BASE COLORS */
  --white: #ffffff;
  --black: #000000;
}

:root {
  --spacing-03: 0.5rem;
  --spacing-05: 1rem;
  --spacing-06: 1.5rem;
  --spacing-08: 2.5rem;

  --text-sm: 0.875rem;
}