.em-button, .em-button-lg, .em-button-xl {
  width: fit-content;
  background: #fff;
  border: 1px solid #D5D7DA;
  border-radius: 8px;
  color: #414651;
  box-shadow: inset 0 -2px 0 #FAFAFA, 0 1px 2px #0a0d120d;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 8px 14px;
  transition: background .2s;
  font-size: var(--14px);
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

.em-button-lg { padding: 10px 16px; }

.em-button-xl {
  font-weight: 600;
  padding: 12px 18px;
}

.em-button-xl:has(i) {
  padding: 8.75px 18px;
}

.em-button:hover, .em-button-lg:hover, .em-button-xl:hover,
.em-button:hover *, .em-button-lg:hover *, .em-button-xl:hover * {
  background: #FAFAFA;
}

.em-button:disabled {
  color: #B4B4B4;
  cursor: not-allowed;
  pointer-events: none;
}

.em-button > i:first-child {
  margin-left: -4px;
}

.em-button > i:last-child {
  margin-right: -4px;
}

.em-button-blue {
  color: white;
  background-color: #5560f5;
  box-shadow: none;
}

.em-button-blue:hover, .em-button-blue:hover * {
  background: #4651f1;
}